services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - MONGODB_URL=mongodb://mongo:27017
      - OPENWEATHER_API_KEY=demo_key_12345
    depends_on:
      - mongo

  mongo:
    image: mongo:5.0  # Стара стабільна версія
    ports:
      - "27017:27017"